In [ ]:
## Let's try to figure out who the shortest, heaviest baseball players are.

In [17]:
import pybaseball as pb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns
from pandas_profiling import ProfileReport

pb.cache.enable()

In [18]:
df_people = pd.read_csv("../lahman/core/people.csv")
df_pitching = pd.read_csv("../lahman/core/pitching.csv")
df_batting = pd.read_csv("../lahman/core/batting.csv")

In [19]:
df_pitchers = pd.concat([df_people, df_pitching], join='inner', axis=1)

In [20]:
df_pitchers.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID', 'playerID', 'yearID', 'stint', 'teamID', 'lgID',
       'W', 'L', 'G', 'GS', 'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB',
       'SO', 'BAOpp', 'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH',
       'SF', 'GIDP'],
      dtype='object')

In [22]:
df_batters = pd.concat([df_people, df_batting], join='inner', axis=1)

In [23]:
df_batters.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID', 'playerID', 'yearID', 'stint', 'teamID', 'lgID',
       'G', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO',
       'IBB', 'HBP', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [ ]:
frames = [df_batters, df_pitchers]

In [29]:
frames[0].head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,BB,SO,IBB,HBP,SH,SF,GIDP,KG,meters,BMI
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,0,0.0,NaN,NaN,NaN,NaN,0.0,97.522280,1.9050,26.872860
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,...,4,0.0,NaN,NaN,NaN,NaN,0.0,81.646560,1.8288,24.412118
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,2,5.0,NaN,NaN,NaN,NaN,1.0,86.182480,1.9050,23.748109
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,0,2.0,NaN,NaN,NaN,NaN,0.0,86.182480,1.9050,23.748109
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,2,1.0,NaN,NaN,NaN,NaN,0.0,83.460928,1.8542,24.275605

In [ ]:
for i in frames:
    i['KG'] = i['weight'] * 0.453592
    i['meters'] = i['height'] * 0.0254
    i['BMI'] = i['KG'] / i['meters'] ** 2

In [ ]:
df_batters.shape

In [ ]:
df_huskiesBatters = df_batters.loc[df_batters.BMI >= 34.55]

In [ ]:
df_huskiesBatters = df_huskiesBatters.drop(columns='playerID')

In [ ]:
profile = ProfileReport(df_huskiesBatters, title="The Wonkaville Huskies", explorative=True)

In [ ]:
profile.to_notebook_iframe()

In [ ]:
df_huskiesPitchers = df[df_pitchers.BMI > 34.55]

In [ ]:
df_huskiesPitchers.head()

In [ ]:
df_huskies = pd.merge(df_huskiesBatters, df_huskiesPitchers, how='right', on='playerID')

In [ ]:
df_huskies.columns

In [ ]:
sns.jointplot(data=df_simple, x="height", y="weight", kind = "reg", truncate = False)

In [ ]:
sns.choose_diverging_palette()

In [ ]:

# Compute the correlation matrix
corr = df_huskiesBatters.corr(method="spearman")

# Generate a mask for the upper triangle
mask = np.triu(np.ones_like(corr, dtype=bool))

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(290, 10, n=40, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(
    corr,
    mask=mask,
    cmap=cmap,
    vmax=1,
    center=0,
    square=True,
    linewidths=0.25,
    cbar_kws={"shrink": .5},
)

In [ ]:
corr_mat = df.corr().stack().reset_index(name="correlation")