In [4]:
## Let's try to figure out who the shortest, heaviest baseball players are.

In [9]:
import pybaseball as pb
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import altair as alt

In [16]:
df = pd.read_csv("lahman/core/people.csv")

In [22]:
# We don't care about any of this.
df = df.drop(
    columns=[
        "birthCountry",
        "birthState",
        "birthCity",
        "deathYear",
        "deathMonth",
        "deathDay",
        "deathCountry",
        "deathState",
        "deathCity",
        "bats",
        "throws",
        "debut",
    ]
)

In [31]:
df.loc[df['nameLast'] == 'Gaedel'] # Check for Yankees legend Eddie Gaedel.

,playerID,birthYear,birthMonth,birthDay,nameFirst,nameLast,nameGiven,weight,height,finalGame,retroID,bbrefID
6210,gaedeed01,1925.0,6.0,8.0,Eddie,Gaedel,Edward Carl,65.0,43.0,1951-08-19,gaede101,gaedeed01

In [33]:
df['kg'] = df['weight'] * 0.453592
df['meters'] = df['height'] * 0.0254

In [34]:
df['BMI'] = df['kg'] / df['meters'] ** 2

In [35]:
df.loc[df['nameLast'] == 'Gaedel'] # Check for Yankees legend Eddie Gaedel.

,playerID,birthYear,birthMonth,birthDay,nameFirst,nameLast,nameGiven,weight,height,finalGame,retroID,bbrefID,kg,meters,BMI
6210,gaedeed01,1925.0,6.0,8.0,Eddie,Gaedel,Edward Carl,65.0,43.0,1951-08-19,gaede101,gaedeed01,29.48348,1.0922,24.715784

In [39]:
df.loc[df['bbrefID'] == 'colonba01'] # Check for Bartolo.

,playerID,birthYear,birthMonth,birthDay,nameFirst,nameLast,nameGiven,weight,height,finalGame,retroID,bbrefID,kg,meters,BMI
3516,colonba01,1973.0,5.0,24.0,Bartolo,Colon,Bartolo,285.0,71.0,2018-09-22,colob001,colonba01,129.27372,1.8034,39.748992