In [65]:
import pybaseball as pb
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport
import math
import statistics as stats

pb.cache.enable()

In [66]:
df_pitching = pd.read_csv("../lahman/core/pitching.csv")

In [67]:
df_pitching.columns()

TypeError: 'Index' object is not callable

In [ ]:
df_pitching

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49425,zeuchtj01,2021,1,TOR,AL,0,2,5,3,0,...,0.0,0,0.0,0,74.0,0,16,0.0,0.0,2.0
49426,zimmebr02,2021,1,BAL,AL,4,5,14,13,0,...,0.0,0,2.0,1,285.0,0,37,1.0,2.0,3.0
49427,zimmejo02,2021,1,MIL,NL,0,0,2,0,0,...,0.0,0,1.0,0,26.0,1,5,0.0,0.0,1.0
49428,zimmeky01,2021,1,KCA,AL,4,1,52,2,0,...,1.0,9,0.0,0,223.0,9,32,0.0,4.0,13.0
49429,zuberty01,2021,1,KCA,AL,0,3,31,0,0,...,1.0,2,1.0,0,123.0,6,20,0.0,1.0,2.0

In [ ]:
print(df_pitching['CG'][0])

2

In [ ]:
year_groups = df_pitching.groupby('yearID')
cg_year_lists = year_groups['CG'].apply(list)
cg_year_lists = cg_year_lists.reset_index()

In [ ]:
print(max(cg_year_lists['CG'][0]))

31

In [ ]:
print(cg_year_lists[0])

KeyError: 0

In [74]:
year = 1871
season_list = []
counter = 0
for year in range(1871, 2021):
    season = cg_year_lists['yearID']
    season = {}
    season['year'] = cg_year_lists['yearID'][counter]
    season['CG_max'] = max(cg_year_lists['CG'][counter])
    season['CG_min'] = min(cg_year_lists['CG'][counter])
    season['CG_mean'] = stats.mean(cg_year_lists['CG'][counter])
    season['CG_median'] = stats.median(cg_year_lists['CG'][counter])
    season['CG_harmean'] = stats.harmonic_mean(cg_year_lists['CG'][counter])
    # season['CG_normaldist'] = stats.NormalDist(cg_year_lists['CG'][counter])
    # season['CG_stdev'] = stats.stdev(cg_year_lists['CG'][counter])
    season['CG_var'] = stats.variance(cg_year_lists['CG'][counter])
    season_list.append(season)
    counter += 1

In [75]:
season_list[0]

{'year': 1871,
 'CG_max': 31,
 'CG_min': 0,
 'CG_mean': 12.157894736842104,
 'CG_median': 2,
 'CG_harmean': 0,
 'CG_var': 161.69590643274853}

In [32]:
years = []
year_counter = 1871
for season in range(1871, 2021):
    year_counter = {}
    while df_pitching['yearID'] == year_counter:
        if df_pitching['CG'] >= 1:
            year_counter['CG_max'] = df_pitching['CG']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [26]:
years.values()

dict_values([2020])